extends layout.pug
include mixins/logoList.pug

block content
  .home
    .container-fluid
      .row
        h1= title
        p= message
        div.actions
          a(class='btn btn-primary' href='/getting-started') Get Started
          a(class='btn btn-primary' href='https://www.meetup.com/CodeHub-Bristol/') Meetup
          a(class='btn btn-primary' href='/resources.html') Resources
    .container-fluid
      .row
        +logoList(logoList)
    .container-fluid
      .row
        h1= 'Kick start your JavaScript with a friendly bunch of enthusiasts'
      .row
        .col-lg-4
          h2= 'Previous Events'
          p= 'Find out what we\'ve been up to'
          a(class='btn btn-primary' href='https://github.com/CodeHubOrg/discussions/issues') View Details
        .col-lg-4
          h2= 'Discussion'
          p= 'Join us for a chat on our Gitter channel'
          a(class='btn btn-primary' href='https://gitter.im/CodeHubOrg/discussions/') View Details
        .col-lg-4
          h2= 'Awesome Projects'
          p= 'Check out our latest projects'
          a(class='btn btn-primary' href='https://github.com/CodeHubOrg') View Details
