extends layout.pug
include mixins/logoList.pug

block content
  .home
    .container-fluid
      .row
        h1= title
        p= message
        div.actions
          a(class='btn btn-primary' href='/getting-started') Get Started
          a(class='btn btn-primary' href='https://www.meetup.com/CodeHub-Bristol/') Meetup
          a(class='btn btn-primary' href='/resources.html') Resources
    .container-fluid
      .row
        +logoList(logoList)
    .container-fluid
      .row
        h1= 'Kick start your JavaScript'
      .row
        .col-lg-4
          h2= 'Previous Events'
          p= 'Find out what we\'ve been up to'
          a(class='btn btn-primary' href='https://github.com/CodeHubOrg/discussions/issues' target='_blank') View Details
        .col-lg-4
          h2= 'Discussion'
          p= 'Join us for a chat on our Gitter channel'
          a(class='btn btn-primary' href='https://gitter.im/CodeHubOrg/discussions/' target='_blank') View Details
        .col-lg-4
          h2= 'Awesome Projects'
          p= 'Check out our latest projects'
          a(class='btn btn-primary' href='https://github.com/CodeHubOrg' target='_blank') View Details
      .row
        h1= 'In Bristol and into JavaScript? You need to join Javascript101!'
        a(class='btn btn-primary' href='https://www.meetup.com/CodeHub-Bristol/') Join Now
      .row
        h1= 'Next Meet up'
        p='Date...'
        p='Location...'
        p='12 Members are attending...'
        a(class='btn btn-primary' href='https://www.meetup.com/CodeHub-Bristol/') Meetup
